/* styles/AdminDashboard.module.css */
.dashboard {
    display: flex;
    height: 96vh;
    border-radius:15px;
}

.content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;

}

.calculatorSection {
    flex: 4;
    padding: 20px;
}

.codeSection {
    flex: 1;
    padding: 20px;
}

.dropdownContainer {
    margin-bottom: 20px;
}

.calculatorPreview {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    color: black;
    height: 85%;
}

.tabs {
    display: flex;
    margin-bottom: 15px;
    width: 200px;
    border-radius: 15px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-bottom: 2px solid transparent;
}

.tabs button:hover {
    background-color: #bbb;
}

.tabs .activeTab {
    border-bottom: 2px solid #007bff;
    
}

.codeEditor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.codeEditor textarea {
    width: 97.5%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.calculatorSection select{
padding: 10px;
border-radius: 10px;
outline: none;
}