/* styles/dashboard.module.css */
.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    padding-top:50px;
    flex: 1;
    padding: 20px;
    background-color: var(--background-color);
    overflow-y: auto;
}

.logoutButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: auto;
}

.logoutButton:hover {
    background-color: #c0392b;
}

/* Dark mode styles */
.dark {
    background-color: #023c75;
    color: #ecf0f1;
}
