.sidebar {
    width: 250px;
    background-color: #34495e;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar.dark {
    background-color: #2c2c40;
}



.sidebar.light {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    color: inherit;
    text-align: left;
    display: flex;
    align-items: center;
}

.sidebar ul li:hover {
    background-color: #cccdfc;
    color:#696bff;
}

.sidebar.dark ul li:hover {
    background-color: #35365f;
    color:#696bff;
}

.sidebar .dropdown {
    padding-left: 20px;
}

.logoutButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: auto;
}

.logoutButton:hover {
    background-color: #c0392b;
}
/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #34495e;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select:none;
}

.sidebar.light {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.sidebar.dark {
    background-color: #2c2c40;
}

/* Profile Container Styles */
.profile-container {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container.light {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.profile-container.dark {
    background-color: #333394;
    color: #ddd;
}
